html {
  background-color: #F2F6FF;
  background-image: url('../img/img_8993.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
body{
  margin: 0;

}

h1 {
  margin: 0;



}
